## SQL实战 | nowcoder 91题总结
### 第一部分 SQL:1-20题

　　ID：wlong
　　数据分析爱好者、目前小白一枚
　　邮箱：wlong826@163.com
　　和鲸社区：[【wlong】](https://www.heywhale.com/home/user/profile/5f0a61d72be199002c073935)
　　如果有不完善的地方，欢迎小伙伴评论区留言！
　　最近博客、和鲸每周都会有所更新，欢迎大家关注点赞分享哦！
 
 ----
 
 　　这里呢，建议SQL不熟练的小伙伴先去**nowcoder网**上刷一遍，遇到不会的时候再过来看**答案**，总共**80道题**左右，但nowcoder网上有些题目存在**断层不连续**，序号写到了91题，所以这里主要也是以官网的序号为准。刷题链接见这[【数据库SQL实战】](https://www.nowcoder.com/ta/sql) (★★★)

　　本专题主要记录下自己刷题过程中对于题目的一些总结和收获，由于刚开始刷，原计划是一到两周之内刷完，所以这一周内会持续更新的。这些答案基本都是自己写的，所以或多或少可能会存在一些不完善的地方，如果有小伙伴对哪里有疑惑的话，欢迎在评论区留言或者私信，一起讨论一起加油！

　牛客网SQL刷题链接：[【数据库SQL实战】](https://www.nowcoder.com/ta/sql) (★★★)

　如果对爬虫感兴趣的小伙伴，看这看这👉：[【零基础入门Python爬虫--豆瓣、58同城、安居客等】](https://www.heywhale.com/mw/project/60be1fa8acdcb3001707b133)

　关于Pandas数据处理的一些小总结，看这看这👉：[【Pandas数据处理120题知识点总结】](https://www.heywhale.com/mw/project/60c0b06919d601001898394c)

　经典数分案例泰坦尼克号的生存分析，看这看这👉：[【经典案例之泰坦尼克号乘客生存情况预测分析 】](https://www.heywhale.com/mw/project/60d18448056f570017c149dc)
 
 　关于Hive SQL的一点小小总结，看这看这👉：[【《Hive 编程指南》的小小总结】](https://www.heywhale.com/mw/project/60f00c93be5f0900176366a6)

　如果小伙伴对于Python实现数据结构感兴趣，可以看这👉：[【线性表】](https://www.heywhale.com/mw/project/60e7b58cbe5f09001761ac87)、[【栈和队列】](https://www.heywhale.com/mw/project/60ebe5de3f2448001705ccc2)

### 1. 查找最晚入职的员工

In [ ]:
select *
from employees
order by hire_date desc
limit 1

### 2. 查找入职员工时间排名倒数第三的员工所有信息

In [ ]:
# 方法一
select *
from
(
	select *
	from employees
	order by hire_date desc
	limit 3
) t
order by t.hire_date
limit 1

In [ ]:
# 方法二
select *
from employees
order by hire_date desc
limit 1 offset 2

### 3. 	查找当前薪水详情以及部门编号dept_no

　　查找各个部门当前领导的薪水详情以及其对应部门编号dept_no,输出结果以salaries.emp_no升序排序，并且请注意输出结果里面dept_no列是最后一列；

In [ ]:
select 
s.emp_no
,s.salary
,s.from_date
,s.to_date
,m.dept_no
from dept_manager m
join salaries s
on m.emp_no = s.emp_no
order by s.emp_no

### 4. 	查找所有已经分配部门的员工的last_name和first_name以及dept_no

　　查找所有已经分配部门的员工的last_name和first_name以及dept_no，未分配的部门的员工不显示；

In [ ]:
select
last_name
,first_name
,dept_no
from employees e
join dept_emp d
on e.emp_no = d.emp_no

### 5. 	查找所有员工的last_name和first_name以及对应部门编号dept_no

　　找所有已经分配部门的员工的last_name和first_name以及dept_no，也包括暂时没有分配具体部门的员工；

In [ ]:
select
last_name
,first_name
,dept_no
from employees e
left join dept_emp d
on e.emp_no = d.emp_no

### 7. 	查找薪水记录超过15次的员工号emp_no以及其对应的记录次数t	

　　注：nowcoder网没有第6题；

In [ ]:
select
emp_no
,count(*) t
from salaries
group by emp_no
having t > 15

### 8. 找出所有员工当前薪水salary情况

　　对于相同的薪水只显示一次,并按照逆序显示；

In [ ]:
select distinct salary
from salaries
order by salary desc

### 10. 获取所有非manager的员工emp_no

In [ ]:
select emp_no
from employees
where emp_no not in (
						select emp_no
						from dept_manager
					)

### 11. 获取所有员工当前的manager

　　获取所有的员工和员工对应的经理，如果员工本身是经理的话则不显示；

In [ ]:
select 
e.emp_no
,d.emp_no manager
from dept_emp e
join dept_manager d
on e.dept_no = d.dept_no
where e.emp_no <> d.emp_no # <> 即 !=

### 12. 获取每个部门中当前员工薪水最高的相关信息(★★★★★)

　　给出dept_no, emp_no以及其对应的salary，按照部门编号升序排列

In [ ]:
#思路1：窗口函数
select
dept_no
,emp_no
,salary
from 
(
	select
	dept_no
	,d.emp_no
    ,salary
	,row_number() over(partition by dept_no order by salary desc) s_rank
	from dept_emp d
	join salaries s
	on d.emp_no = s.emp_no
) t
where t.s_rank = 1

In [ ]:
# 思路2：采用group by分组 + 内连接
select
z.dept_no
,d.emp_no
,z.sa
from dept_emp d
join salaries s
on d.emp_no = s.emp_no
join 
(
	select
	dept_no
	,max(salary) sa
	from dept_emp d
	join salaries s
	on d.emp_no = s.emp_no
	group by dept_no
) z
on d.dept_no = z.dept_no
and s.salary = z.sa
order by z.dept_no

　　注：nowcoder网没有第13，14题；

### 15. 查找employees表emp_no与last_name的员工信息

　　查找employees表所有emp_no为奇数，且last_name不为Mary的员工信息，并按照hire_date逆序排列；

In [ ]:
select *
from employees
where emp_no % 2 = 1
and last_name <> 'Mary'
order by hire_date desc

### 16. 统计出各个title类型对应的员工薪水对应的平均工资avg

　　统计出各个title类型对应的员工薪水对应的平均工资avg，结果给出title以及平均工资avg，并且以avg升序排序；

In [ ]:
select
title
,avg(salary) avg
from titles t
join salaries s
on t.emp_no = s.emp_no
group by title
order by avg

### 17. 获取薪水第二多的员工的emp_no以及其对应的薪水salary

In [ ]:
# 思路1：按照薪水降序，使用limit offset取第二
select
emp_no
,salary
from salaries
order by salary desc
limit 1 offset 1

In [ ]:
# 思路2：窗口函数
select
emp_no
,salary
from
(
	select
	emp_no
	,salary
	,row_number() over(order by salary desc) s_rank
	from salaries
) z
where z.s_rank = 2

### 18. 查找薪水排名第二多的员工编号emp_no、薪水salary、last_name以及first_name，不能使用order by完成(★★★★)

In [ ]:
# 方法一：先查找最高薪水，然后在查出第二高工资，最后将将第二高工资作为查询条件
select s.emp_no, s.salary, e.last_name, e.first_name
from salaries s join employees e
on s.emp_no = e.emp_no
where s.salary = (                            # 最后，将第二高工资作为查询条件
			    	select max(salary)        # 其次，查出除最高薪水之外的最高工资(第二高工资)
				    from salaries
				    where salary < (
								        select max(salary)    # 首先，查出最高薪水
								        from salaries
							        )
			    )

In [ ]:
# 方法二：
select *
from
(
    select 
    e.emp_no
    ,salary
    ,last_name
    ,first_name
    from employees e
    join salaries s
    on e.emp_no = s.emp_no
    where e.emp_no not in (
					        select emp_no
					        from salaries
					        where salary >= ALL(select salary from salaries)
						  )
) t
where salary >= ALL(
                        select salary
					    from salaries s
					    where emp_no not in (
										        select emp_no
										        from salaries
										        where salary >= ALL(select salary from salaries)
											  )
					)

In [ ]:
# 方法三：参考答案里，自连接
select s.emp_no, s.salary, e.last_name, e.first_name
from salaries s join employees e
on s.emp_no = e.emp_no
where s.salary = (
				    select s1.salary
				    from salaries s1 join salaries s2      -- 自连接查询
				    on s1.salary <= s2.salary
				    group by s1.salary                     -- 当s1<=s2链接并以s1.salary分组时一个s1会对应多个s2
				    having count(distinct s2.salary) = 2   -- (去重之后的数量就是对应的名次)
				  )

### 19. 查找所有员工的last_name和first_name以及对应的dept_name，也包括暂时没有分配部门的员工

In [ ]:
select
last_name
,first_name
,dept_name
from dept_emp d_e
right join  employees e
on d_e.emp_no = e.emp_no
left join departments d
on d_e.dept_no = d.dept_no